.dashboard {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .dashboard-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .dashboard-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    text-align: left;
  }
  .card1 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 20%;
    text-align: left;
  }
  .search-input {
    padding: 8px;
    margin-top: 10px;
    width: 100%; /* Ajusta según tus necesidades de diseño */
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .card-content {
    margin-bottom: 15px;
  }
  
  .card-title {
    font-size: 18px;
    color: #555;
  }
  
  .card-value {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .appointments-list {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow-x: hidden;
  }
  
  table {
    background: #ffffff;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
  }
  th {
    border-bottom: 1px solid #364043;
    color: #BD4C6C;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
  }
  td {
    color: #000000;
    font-weight: 400;
    padding: 0.65em 1em;
  }
  .disabled td {
    color: #4f6364;
  }
  tbody tr {
    transition: background 0.25s ease;
  }
  tbody tr:hover {
    background: #33ACA6;
  }
  .analytics-page {
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
  
  .dashboard-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .dashboard-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: calc(25% - 20px);
    text-align: center;
  }
  
  .dashboard-card h2 {
    color: #333;
    margin-bottom: 5px;
  }
  
  .dashboard-card p {
    color: #666;
    font-size: 1.2rem;
  }
  
  .chart-container {
    width: 100%;
    margin: 20px 0;
  }
  
  @media (max-width: 768px) {
    .dashboard-card {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .dashboard-card {
      width: 100%;
    }
  }
  